<html>

<head>
    <title>応用プロジェクト 〜空間文字認識〜</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1>応用プロジェクト 〜空間文字認識〜</h1>
    <div>
        <p>コマンド</p>
        <p>0 : 
            <select id=symbol_0>
                <option value='youtube' selected>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>1 : 
            <select id=symbol_1>
                <option value='youtube'>Youtube</option>
                <option value='google' selected>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>2 : 
            <select id=symbol_2>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11' selected>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>3 : 
            <select id=symbol_3>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight' selected>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>4 : 
            <select id=symbol_4>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop' selected>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>5 : 
            <select id=symbol_5>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop' selected>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>6 : 
            <select id=symbol_6>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot' selected>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>7 : 
            <select id=symbol_7>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup' selected>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        <p>8 : 
            <select id=symbol_8>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown' selected>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish'>終了</option>
            </select>
        </p>
        <p>9 : 
            <select id=symbol_9>
                <option value='youtube'>Youtube</option>
                <option value='google'>Google</option>
                <option value='f11'>デスクトップ</option>
                <option value='spotlight'>spotlight検索</option>
                <option value='nextDesktop'>次の画面</option>
                <option value='prevDesktop'>前の画面</option>
                <option value='screenshot'>スクリーンショット</option>
                <option value='mouseup'>マウス上</option>
                <option value='mousedown'>マウス下</option>
                <option value='mouseright'>マウス右</option>
                <option value='mouseleft'>マウス左</option>
                <option value='mouseclick'>マウスクリック</option>
                <option value='finish' selected>終了</option>
            </select>
        </p> 
        <p>
            <input type=button id=start value=起動>
        </p>
    </div>   
</body>
<script type="text/javascript" src="/static/js.js"> </script>

</html>
